Flask-API==3.1
Jinja2==3.1.2
fuzzywuzzy==0.18.0
cryptography
requests
diskcache
pytz # For timezone-aware datetimes
flask_reqparse
Flask==2.2.5
gunicorn==20.1.0
Flask-SQLAlchemy==3.0.3
PyMySQL==1.0.2
Flask-Cors==3.0.10
python-dotenv==1.0.0
Flask-Session==0.5.0
Flask-RESTx==1.1.0
Flask-JWT-Extended==4.3.0
Werkzeug==2.3.7 # Ensure compatibility with Flask 2.3.x
flask_migrate
fugashi[unidic-lite]
